* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	font-family: 'The Sims Sans Bold', sans-serif;
	
}

.home {
	background-size: 100%;
	height: 100%;
	width: 100%;
	color: #fff;
}

.icon {
	background-color: #000;
	display: flex;
	height: 30px;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0 32px 0 0;
    position: relative;
    z-index: 9999;
}

.icon .btn {
	position: relative;
	left: 30px;
	margin-top: -2px;
}

.icon .btn i{
	color: #b5b5b5;
	width: 50px;
	height: auto;
}

.icon .btn i:hover {
	color: #fff;
	transition: .2s;
}

.icon .btn img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.icon .btn img:hover {
	-webkit-filter: grayscale(0);
	filter: brightness(10);
}

.icon .btn-form {
	position: absolute;
	top: 100%;
	left: 0.45%;
	justify-content: space-between;
	padding: 0 30rem;
	background-color: #000;
	background-size: cover;
	width: 100%;
	height: 380px;
	display: flex;
	align-items: center;
	transform: scaleY(0);
	transform-origin: top;
	transition: .3s;
}

.icon .btn-form .active {
	transform: scaleY(1);
}

.icon .btn-form .user-box {
	border: #fff;
	color: #000;
}

.icon .btn-form .sign {
	justify-content: center;
	font-family: sans-serif;
	position: absolute;
	left: 50%
}
.navbar {
	background-color: #000000;
	width: 1280px;
	height: 50px;
	display: flex;
    list-style: none;
    margin: 0;
    padding: 0 0 0 0;
    position: fixed;
    z-index: 5555;
}

.navbar .logo img {
	margin-top: .3rem;
	margin-left: 2.5rem;

}

nav ul {
	display: flex;
	margin-left: 10rem;
	margin-top: -1.8rem;
}

nav ul li {
	display: inline-block;
	margin: 0 16px;
}

nav ul li a {
	font-family: sans-serif;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

nav ul li a:hover {
	color: rgb(32, 32, 255);
	transition: .2s;
	text-decoration: none;
}

nav .dropdown {
	display: none;
}

nav ul li:hover .dropdown {
	display: block;
	background-color: black;
	position: absolute;
	margin-top: 1rem;
	margin-left: -1.5rem;
	transform: scaleX(1);
}

nav ul li:hover .dropdown:hover {
	transform: scaleY(1);
	color: rgb(32, 32, 255);
}

.btn-group {
	font-family: sans-serif;
	margin-top: -4rem;
	margin-left: 1100px;
	box-sizing: border-box;
}

.dropdown-item {
	font-family: sans-serif;
	background-color: blue;
	margin: 12px;
	color: #fff;
	display: block;
	width: 11rem;
	align-items: center;
	text-align: center;
	opacity: 8;
	transition: .2s;
}

.dropdown-item:hover {
	transform: scale(1.03);
	background-color: blue;
	color: #fff;
}

.hero {
	min-height: 100vh;
	align-items: center;
	background-image: url('thesims.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:120%;
	position: relative;
	padding: 40px;
	justify-content: center;
}

.hero::after {
	content: '';
	display: block; 
	position: absolute; 
	width: 100%;
	height: 30%;
	bottom: 0;
}

.hero .content {
	padding: 200px 200px;
	max-width: 960px;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin-top: 12rem;
	margin-left: 11rem;
}

.hero .content h1 {
	color: #fff;
	font-size: 55px;
	text-align: center;
	margin: 0 auto;
	margin-right: -10rem;
	margin-top: -10px;
	max-width: 960px;
	text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
	font-family: sans-serif;
	margin-top: 16px;
	position: absolute;
	margin-left: 9.5rem;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	display: inline-block;
	padding: 12px 40px;
	font-size: 20px;
	color: #000;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(1,1,3,0.5);
	z-index: 100;
}
.hero .content .cta:hover {
	transform: scale(1.03);
	transition: .4s;
}

.runningtext {
	background-color: #000;
	display: flex;
	align-items: center;
}

.runningtext h3 b {
	margin-left: 30px;
	font-size: 22px;
}

.about {
	min-height: 150vh;
	background-color: #000;
	background-image: url('bgsims4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.about .body {
	padding: 200px 200px;
	max-width: 960px;
	text-align: center;
	justify-content: center;
	position: absolute;
	margin-top: -9rem;
	margin-left: 14rem;
}

.about .body h3 {
	color: #fff;
	font-size: 40px;
	text-align: center;
	margin: 0 auto;
	max-width: 960px;
	text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.about .body p {
	font-family: sans-serif;
	text-align: center;
}

.about .body .cta {
	font-family: sans-serif;
	margin-top: 16px;
	position: absolute;
	margin-left: -6rem;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	display: inline-block;
	padding: 7px 25px;
	font-size: 16px;
	color: #fff;
	background-color: #ffffff00;
	border: 1.5px solid #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(1,1,3,0.5);
	z-index: 100;
}
.about .body .cta:hover {
	transform: scale(1.03);
	transition: .3s;
}

.about .video {
	align-items: center;
	justify-content: center;
	position: absolute;
	margin-top: 35%;
	margin-left: 7%;
}

.about .video iframe {
	width: 1080px;
	height: 540px;
}

.playgo {
	min-height: 150vh;
	align-items: center;
	justify-content: center;
	background-color: #000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 40px;
		
}

.playgo h1 {
	max-width: 800px;
	font-size: 150px;
	text-align: center;
	justify-content: center;
	position: absolute;
	left: 20%;
	top: 12%;
}

.playgo .pict {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 12.5%;
	top: 39.5%;
}

.playgo .pict .pict1 {
	align-items: center;
	justify-content: center;
	text-align: center;
}

.playgo .pict .pict1 h5 {
	margin-top: 5%;
}

.playgo .pict .pict1 p {
	max-width: 350px;
	font-family: sans-serif;
	position: absolute;
	left: 80px;
}

.playgo .pict .pict2 {
	align-items: center;
	justify-content: center;
	text-align: center;
}

.playgo .pict .pict2 h5 {
	margin-top: 5%;
}

.playgo .pict .pict2 p {
	max-width: 350px;
	font-family: sans-serif;
	position: absolute;
	left: 585px;
}

.playgo .pict .pict1 .cta {
	font-family: sans-serif;
	margin-top: 7%;
	position: absolute;
	margin-left: -6.5rem;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	display: inline-block;
	padding: 7px 25px;
	font-size: 16px;
	color: #fff;
	background-color: #ffffff00;
	border: 1.5px solid #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(1,1,3,0.5);
	z-index: 100;
}

.playgo .pict .pict1 .cta:hover {
	transform: scale(1.03);
	transition: .3s;
}

.playgo .pict .pict2 .cta {
	font-family: sans-serif;
	margin-top: 7%;
	position: absolute;
	margin-left: -7rem;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	display: inline-block;
	padding: 7px 25px;
	font-size: 16px;
	color: #fff;
	background-color: #ffffff00;
	border: 1.5px solid #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(1,1,3,0.5);
	z-index: 100;
}

.playgo .pict .pict2 .cta:hover {
	transform: scale(1.03);
	transition: .3s;
}

.inspired {
	min-height: 180vh;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to bottom,
	#000 0%,
	#000 29.8%,
	#5599ff 29.8%,
	#5599ff 0%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 40px;
}

.inspired .container {
	position: absolute;
	margin-left: 3.5%;
}


.inspired .text {
	z-index: 999;
	max-width: 50px;
}

.inspired .text h4 {
	font-size: 35px;
	color: #000;
	position: absolute;
	margin-top: -28%;
	margin-left: 4%;
}

.inspired .text p {
	font-family: sans-serif;
	font-size: 18px ;
	color: #000;
	position: absolute;
	margin-top: -24%;
	margin-left: 4%;
	max-width: 530px;
}

.inspired .text .cta {
	font-family: sans-serif;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 16px;
	position: absolute;
	margin-top: -15%;
	margin-left: 4%;
	color: #fff;
	padding: 1% 2%;
	background-color: #000000;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(1,1,3,0.5);
	z-index: 100;
}

.inspired .text .cta:hover {
	transform: scale(1.03);
	transition: .3s;
}

.inspired hr {
	color: 10px solid #000;
	margin-top: 45%;
	width: 1300px;
	margin-left: -5%;
}

.inspired .news h1 {
	text-align: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin-left: 29% 
}

.inspired .news .card {
	display: flex;
	float: left;
	margin: 7% 1%;
	margin-left: 7%;
	align-items: center;
	justify-items: center;
	transform: scaleY(1.03);
	transition: .3s;
}

.inspired .news .card .card-body {
	color: #000;
}

.inspired .news .card .card-body h6{
	font-size: 10px;
	color: #0000cf;
	text-align: center;
	justify-content: center;
}

.inspired .news .card .card-body h6 span {
	color: #000;
}

.inspired .news .card .card-body h5 {
	font-size: 20px;
	justify-content: center;
	text-align: center;
}

.inspired .news .card .card-body p {
	font-family: sans-serif;
	font-size: 13px;
	justify-content: center;
	text-align: center;
}

.inspired .news .cta {
	font-family: sans-serif;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 16px;
	position: absolute;
	margin-top: 38%;
	margin-left: -48%;
	color: #fff;
	padding: 1% 2%;
	background-color: #000000;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(1,1,3,0.5);
	z-index: 100;
}

.inspired .news .cta:hover {
	transform: scale(1.03);
	transition: .3s;
}

.form {
	min-height: 100vh;
	background-image: url('bgsulsul.jpg');
	background-size: 100%;

}
.form .textt {
	color: #000;
}

.form .textt h2 {
	font-size: 40px;
	position: absolute;
	max-width: 600px;
	margin-top: 8%;
	margin-left: 8%;
}

.form .textt p {
	font-family: sans-serif;
	font-size: 18px;
	position: absolute;
	max-width: 480px;
	margin-top: 16.5%;
	margin-left: 8%;
}

.form form {
	max-width: 40rem;
	margin: 0 auto;
}

.form form .input-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 90%;
}

.form form .input-box .input-field {
	font-family: sans-serif;
	position: absolute;
	margin-top: 8%;
	margin-left: 28%;
	width: 40%;
	border: 2px solid #000;
	background-color: transparent;
}

.form form .input-box .input-field input {
	padding: 10px 20px;
}

.form form .input-box .date {
	font-family: sans-serif;
	position: absolute;
	padding: 5px 20px;
	margin-top: 14%;
	margin-left: 28%;
	width: 20%;
	border: 2px solid #000;
	background-color: transparent;
}

.form form .input-box select {
	font-family: sans-serif;
	position: absolute;
	padding: 20px 20px;
	margin-top: 14%;
	margin-left: 49%;
	width: 19%;
	border: 2px solid #000;
	background-color: transparent;
}

.form form .input-box select option {
	font-family: sans-serif;
}

.form form .input-box .check {
	font-family: sans-serif;
	position: absolute;
	padding: 20px 20px;
	margin-top: 22%;
	margin-left: 26.5%;
	width: 19%;
}

.form form .input-box p {
	font-family: sans-serif;
	position: absolute;
	margin-top: -10%;
	margin-left: 13%;
	width: 400px;
	color: #000;
}

.form form .input-box .cta {
	font-family: sans-serif;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 16px;
	position: absolute;
	margin-top: 35%;
	margin-left: 28%;
	color: #fff;
	padding: 1% 2%;
	background-color: #0700d7;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(1,1,3,0.5);
	z-index: 100;
}

.form form .input-box .cta:hover {
	transform: scale(1.03);
	transition: .3s;
}


.body-end h3 {
	font-family: sans-serif;
	font-size: 20px;
	color: #000;
	position: absolute;
	margin-top: -30%;
	margin-left: 70%;
}

.body-end h1 {
	color: #000;
	position: absolute;
	margin-top: -28%;
	margin-left: 70%;
}

.body-end h4 {
	font-family: sans-serif;
	font-size: 19px;
	color: #000;
	position: absolute;
	margin-top: -20%;
	margin-left: 70%;
}

.body-end .cta {
	font-family: sans-serif;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 16px;
	position: absolute;
	margin-top: -15%;
	margin-left: 70%;
	color: #fff;
	padding: 1% 2%;
	background-color: #000;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(1,1,3,0.5);
	z-index: 100;
}

.body-end.cta:hover {
	transform: scale(1.03);
	transition: .3s;
}