* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	font-family: 'The Sims Sans Bold', sans-serif;
	
}

.home {
	background-size: 100%;
	height: 100%;
	width: 100%;
	color: #fff;
}

.icon {
	background-color: #000;
	display: flex;
	height: 30px;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0 32px 0 0;
    position: relative;
    z-index: 1;
}

.icon .btn {
	position: relative;
	left: 30px;
	margin-top: -2px;
}

.icon .btn i{
	color: #b5b5b5;
	width: 50px;
	height: auto;
}

.icon .btn i:hover {
	color: #fff;
	transition: .2s;
}

.icon .btn img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.icon .btn img:hover {
	-webkit-filter: grayscale(0);
	filter: brightness(10);
}

.icon .btn-form {
	position: absolute;
	top: 100%;
	left: 0.45%;
	justify-content: space-between;
	padding: 0 30rem;
	background-color: #000;
	background-size: cover;
	width: 100%;
	height: 380px;
	display: flex;
	align-items: center;
	transform: scaleY(0);
	transform-origin: top;
	transition: .3s;
}

.icon .btn-form .active {
	transform: scaleY(1);
}

.icon .btn-form .user-box {
	border: #fff;
	color: #000;
}

.icon .btn-form .sign {
	justify-content: center;
	font-family: sans-serif;
	position: absolute;
	left: 50%
}
.navbar {
	background-color: #000000;
	background-size: 20px;
	height: 50px;
	display: flex;
    list-style: none;
    margin: 0;
    padding: 0 0 0 0;
    position: fixed;
    z-index: 9999;
}

.navbar .logo img {
	margin-top: .3rem;
	margin-left: 2.5rem;

}

nav ul {
	display: flex;
	margin-left: 10rem;
	margin-top: -1.8rem;
}

nav ul li {
	display: inline-block;
	margin: 0 16px;
}

nav ul li a {
	font-family: sans-serif;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

nav ul li a:hover {
	color: rgb(32, 32, 255);
	transition: .2s;
	text-decoration: none;
}

nav .dropdown {
	display: none;
}

nav ul li:hover .dropdown {
	display: block;
	background-color: black;
	position: absolute;
	margin-top: 1rem;
	margin-left: -1.5rem;
	transform: scaleX(1);
}

nav ul li:hover .dropdown:hover {
	transform: scaleY(1);
	color: rgb(32, 32, 255);
}

.btn-group {
	font-family: sans-serif;
	margin-top: -4rem;
	margin-left: 1100px;
	box-sizing: border-box;
}

.dropdown-item {
	font-family: sans-serif;
	background-color: blue;
	margin: 12px;
	color: #fff;
	display: block;
	width: 11rem;
	align-items: center;
	text-align: center;
	opacity: 8;
	transition: .2s;
}

.dropdown-item:hover {
	transform: scale(1.03);
	background-color: blue;
	color: #fff;
}

.hero {
	min-height: 100vh;
	align-items: center;
	background-image: url('thesims.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:120%;
	position: relative;
	padding: 40px;
	justify-content: center;
}

.hero::after {
	content: '';
	display: block; 
	position: absolute; 
	width: 100%;
	height: 30%;
	bottom: 0;
}

.hero .content {
	padding: 200px 200px;
	max-width: 960px;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin-top: 12rem;
	margin-left: 11rem;
}

.hero .content h1 {
	color: #fff;
	font-size: 55px;
	text-align: center;
	margin: 0 auto;
	margin-right: -10rem;
	margin-top: -10px;
	max-width: 960px;
	text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
	font-family: sans-serif;
	margin-top: 16px;
	position: absolute;
	margin-left: 9.5rem;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	display: inline-block;
	padding: 12px 40px;
	font-size: 20px;
	color: #000;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(1,1,3,0.5);
	z-index: 100;
}
.hero .content .cta:hover {
	transform: scale(1.03);
	transition: .4s;
}

.runningtext {
	background-color: #000;
	display: flex;
	align-items: center;
}

.runningtext h3 b {
	margin-left: 30px;
	font-size: 22px;
}

.about {
	min-height: 150vh;
	background-color: #000;
	background-image: url('bgsims4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.about .body {
	padding: 200px 200px;
	max-width: 960px;
	text-align: center;
	justify-content: center;
	position: absolute;
	margin-top: -9rem;
	margin-left: 14rem;
}

.about .body h3 {
	color: #fff;
	font-size: 40px;
	text-align: center;
	margin: 0 auto;
	max-width: 960px;
	text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.about .body p {
	font-family: sans-serif;
	text-align: center;
}

.about .body .cta {
	font-family: sans-serif;
	margin-top: 16px;
	position: absolute;
	margin-left: -6rem;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	display: inline-block;
	padding: 7px 25px;
	font-size: 16px;
	color: #fff;
	background-color: #ffffff00;
	border: 1.5px solid #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(1,1,3,0.5);
	z-index: 100;
}
.about .body .cta:hover {
	transform: scale(1.03);
	transition: .3s;
}

.about .video {
	align-items: center;
	justify-content: center;
	position: absolute;
	margin-top: 35%;
	margin-left: 7%;
}

.about .video iframe {
	width: 1080px;
	height: 540px;
}
